<form
  (ngSubmit)="addNewZone()"
  [formGroup]="addActivityZoneForm"
  novalidate
  class="add-zone-form"
>
  <div class="color-picker">
    <label for="color">Color</label>
    <input
      formControlName="color"
      type="color"
      class="form-control"
      placeholder="Enter color"
      name="color"
    />
  </div>

  <button
    aria-label="add-zone-button"
    mat-flat-button
    color="primary"
    [disabled]="
      addActivityZoneForm.invalid ||
      ((allActivityZones$ | async)?.length || 0) >= 4
    "
    class="btn btn-default"
  >
    Add new zone
  </button>
</form>
