.activity-zone-page {
    width: 100%;
    margin: auto;
}

.activity-zones-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}